<div class="div">
  <div class="listing-new-form">
    <div class="m-5">
      <h1>Add your Buddy</h1>
    </div>

    <div class="mb-3">
      <%= simple_form_for @listing do |f| %>
        <%= f.input :title, label: false, placeholder: "Write the name of your buddy..." %>
        <%= f.input :location, label: false, placeholder: "Write the location..." %>
        <%= f.input :price, label: false, placeholder: "Write the price..." %>
        <%= f.input :description, label: false, placeholder: "Write the description..." %>
        <div>
          <%= link_to 'go main', root_path, class:'btn btn-primary' %>
          <%= f.submit%>
        </div>
      <% end %>

    </div>
  </div>
</div>
