<div class="d-flex align-items-center justify-content-center banner-show"
    style=" background:linear-gradient(45deg, rgba(252,152,66,0.7),
                        rgba(254,95,117,0.7)),
                        url('<%= cl_image_path @listings.sample.photo.key %>');
            background-position:0 15%;
            background-repeat: no-repeat;
            background-size: cover;">
    <h1 class="d-flex">Your profil</h1>
</div>

<div class="d-flex flex-wrap light-bckgrnd">
  <div class="d-flex justify-content-evenly flex-wrap">
    <h3>Bookings listing</h3>
    <div class="card-category m-3 p-3">
      <% @bookings.each do |booking|%>
        <% if booking.user = current_user %>
          <div class="card-display">
            <h3><%= booking.listing.title %></h3>
            <p><%= booking.start_date.strftime('%d-%m-%Y') %> - <%= booking.end_date.strftime('%d-%m-%Y') %></p>
            <div class="card-display" style="background-image: url('<%= cl_image_path booking.listing.photo.key %>')" ></div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>

  <div class="card-category d-flex flex-wrap">
    <h3>listing propreties</h3>
    <div class=" m-3 p-3 d-flex flex-wrap">
      <% @listings.each do |listing| %>
        <% if listing.user = current_user %>
          <h5><%= listing.title %></h5>
          <div class="card-display m-3" style="background-image: url('<%= cl_image_path listing.photo.key %>')" ></div>

        <% end %>
      <% end %>
    <%= link_to '➕ add new', new_listing_path, class: 'btn-pill-pink' %>
    </div>
  </div>
</div>
