<div class="d-flex align-items-center justify-content-center banner-show"
    style=" background:linear-gradient(45deg, rgba(252,152,66,0.7),
                        rgba(254,95,117,0.7)),
                        url('<%= cl_image_path @listings.sample.photo.key %>');
            background-position:0 15%;
            background-repeat: no-repeat;
            background-size: cover;">
    <h1 class="d-flex">Your profil</h1>
</div>

<div class="d-flex flex-wrap light-bckgrnd">
  <div class="m-3 mb-5 px-5">
    <h3>Your incomming booking with Buddies</h3>

    <div class="d-flex justify-content-evenly flex-wrap">
      <% @bookings.each do |booking|%>
        <% if booking.user = current_user %>
          <div class="card-category m-3 text-center">
            <div class="card-display align-self-end" style="background-image: url('<%= cl_image_path booking.listing.photo.key %>')" ></div>
            <h3 class="pt-5"><%= booking.listing.title %></h3>
            <p class="py-3">📅 From <%= booking.start_date.strftime('%d-%m-%Y') %><br>till <%= booking.end_date.strftime('%d-%m-%Y') %></p>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>

  <div class="m-3 mb-5 px-5">
    <h3>All your buddies on rent</h3>

    <div class="d-flex justify-content-evenly flex-wrap">
      <% @listings.each do |listing| %>
        <% if listing.user = current_user %>
          <div class="card-category m-3 text-center">
            <h5><%= listing.title %></h5>
            <div class="card-display m-3" style="background-image: url('<%= cl_image_path listing.photo.key %>')" ></div>
          </div>
        <% end %>
      <% end %>
    <div class="w-100 d-flex justify-content-center"><%= link_to '➕ add new', new_listing_path, class: 'btn-pill-pink' %></div>
    </div>
  </div>
</div>
